$mobile: 768px;

// Montserrat font
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap");

@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #484848;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 18px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 10px;

    .title {
      margin: 0 auto;
    }

    h1 {
      font-size: 40px;
    }

    h2 {
      font-weight: 400;
    }

    .links {
      margin: 30px auto 0 auto;
      display: grid;
      align-items: center;
      grid-template-columns: auto auto auto auto;
      gap: 20px;

      a {
        margin: 0 auto;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #484848;
        opacity: 0.7;
        color: #000;
        transition: opacity 0.3s;
        font-weight: bold;

        &:hover {
          opacity: 1;
        }

        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .portfolio {
    margin-top: 50px;

    h2 {
      text-align: center;
      padding-bottom: 20px;
    }

    .screens {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .screen {
      width: 100%;
      max-width: 500px;
      margin: 20px;
      display: flex;
      justify-content: center;
      position: relative;

      @media (max-width: $mobile) {
        margin: 0 0 30px 0;

        img {
          width: 95%;
        }
      }

      &:has(.legend) {
        // blur on hover
        &:hover,
        &:active {
          img {
            filter: blur(4px);
            cursor: pointer;
          }

          // display image legend
          .legend {
            display: flex;
          }
        }
      }

      img {
        width: 100%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      .legend {
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 50px;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.5;
        background-color: rgba(255, 255, 255, 0.879);
      }
    }

    .other {
      text-align: center;
      width: 100%;
      max-width: 500px;
      margin-inline: auto;
      margin-bottom: 50px;

      .list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        img {
          padding: 20px;
          width: 200px;
        }
      }
    }
  }

  .footer {
    margin-top: 100px;
    background-color: #f1f1f1;
    height: 25px;
    width: 100%;
    display: block;
  }
}
